body {
  margin: 0;
  font-family: helvetica, arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
}

header div:first-child {
  display: flex;
  justify-content: flex-start;
}

ul {
  display: flex;
  list-style: none;
}

li {
  font-size: 1.3em;
  padding: 0 8px;
}

form input {
  height: 35px;
  margin: 8px 10%;
  padding: 0 11%;
  border-radius: 3px;
  border: 1px solid #ccc;
}

header div:last-child {
  display: flex;
  width: 10%;
  justify-content: space-between;
}

header div:last-child img {
  border-radius: 50%;
}

header div:last-child span {
  height: 50px;
  line-height: 50px;
  background: #efeeee;
  padding: 0px 8px;
  border-radius: 8px;
}

.slide {
  background: #754ffe;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1140px;
  margin: 0 auto;
}

.slide .container img {
  display: block;
}

.slide h1 {
  color: white;
  font-size: 2.5rem;
}

.slide p {
  color: gainsboro;
  width: 80%;
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.slide a {
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
}

.slide a:first-of-type {
  background: #19cb98;
  color: white;
}

.slide a:last-child {
  background: white;
  color: black;
}

.indicateurs {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;
  box-shadow: 0px 2px 8px #eee;
}

.indicateurs .container > div {
  display: flex;
  align-items: center;
}

.indicateurs .container > div div:first-child {
  background: #ffeeda;
  color: #a57e51;
  font-size: 1.5rem;
  border-radius: 50%;
  padding: 15px;
  margin-right: 20px;
}

.indicateurs h4 {
  margin-bottom: 0px;
}

.indicateurs p {
  margin-top: 8px;
}

.cartes .container > div {
  width: 23%;
}

.cartes .container > div > img {
  width: 100%;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cartes {
  background: #f4f5f8;
}
.etoile {
  color: #ffaa46;
  font-size: 15px;
  margin: 0;
  padding-bottom: 10px;
}
.bas {
	display:flex;
	align-items: center;
	justify-items: center;
}
